    *{ font-family:Arial, Helvetica,Microsoft JhengHei; }

    /* font-family{Gudea,Heiti,\\5FAE\8EDF\6B63\9ED1\9AD4,Microsoft JhengHei;} */
    a.thumbnail:hover{border-color: #0a0;/*border-color: #009ce5;*/ background: rgba(255, 237, 0, 1);} 
    a {/*color: #000;*/text-decoration: none;font-weight: bold;}
    a:hover{text-decoration:none; color:#aaa;}
    a:focus{/*color:#fff;*/text-decoration:none;}
    .thumbnail:hover{text-decoration:none;}
    .airpoint:hover{background-color: #337ab7; color:#fff;}
    .nav-pills>li>a{
      border-radius: 25px;
      border: 0px solid #ddd;
      /* border-bottom: 5px solid #009ce5; */
      margin-left: 15px;
    }
    body {margin: 0px;padding: 0px;font-size: 10px;color: #5a5a5a;font-family: Helvetica, "微軟正黑體","蘋果儷中黑",  Verdana, Arial, sans-serif, "新細明體", sans-serif;letter-spacing: 0em;}

    /* --------------------- MENU---------------------- */

    #nav{}

    #nav ul {
        margin:0;
        padding-top:10px;
        width:667px; 
        height:72px;
        margin-left:-8px;
    }

    #nav li {
        float:left;
        list-style:none;
    }

    #nav li.nav0{
        display:block;
        background-image:url(../images/nav.jpg); 
        width:168px; 
        height:72px;
        text-indent:-9999px;
    }

    #nav li.nav0 a{
        display:block;
        background-image:url(../images/nav.jpg); 
        width:168px; 
        height:72px;
        text-indent:-9999px;
    }

    #nav li.nav1{
        display:block;
        background-image:url(../images/nav.jpg); 
        width:127px; 
        height:72px;
        text-indent:-9999px;
        background-position:-168px;
    }

    #nav li.nav1 a{
        display:block;
        background-image:url(../images/nav.jpg); 
        width:127px; 
        height:72px;
        text-indent:-9999px;
        background-position:-168px;
    }

    #nav li.nav2{
        display:block;
        background-image:url(../images/nav.jpg); 
        width:183px; 
        height:72px;
        text-indent:-9999px;
        background-position:-295px;
    }

    #nav li.nav2 a{
        display:block;
        background-image:url(../images/nav.jpg); 
        width:183px; 
        height:72px;
        text-indent:-9999px;
        background-position:-295px;
    }

    #nav li.nav3{
        display:block;
        background-image:url(../images/nav.jpg); 
        width:189px; 
        height:72px;
        text-indent:-9999px;
        background-position:-478px;
    }

    #nav li.nav3 a{
        display:block;
        background-image:url(../images/nav.jpg); 
        width:189px; 
        height:72px;
        text-indent:-9999px;
        background-position:-478px;
    }


    #nav li.nav0 a:hover,#nav li.nav1 a:hover,#nav li.nav2 a:hover,#nav li.nav3 a:hover,#nav li.nav4 a:hover,#nav li.nav5 a:hover,#nav li.nav6 a:hover{ background-image:url(../images/nav_hover.jpg);}


    /*------------------------- footer --------------------------*/

    #footer,.footer{
        clear:both;
        color:#555;
        text-align:center;
        margin:1em auto 0;
        /*background:url(/images/2008/bg_dn.gif) repeat-x bottom;*/
        background-color: #fff;
        padding:27px 0 17px;
        line-height:1.5em;
        font-size:12px;
    }
    .footer hr{
        color:#ccc; 
        height:1px;
    }
    #footer a,#footer a:visited,.footer a,.footer a:visited{
        color:#060;
        text-decoration:none;
        font-size:12px;
    }
    #footer a:hover,.footer a:hover{text-decoration:none;}


    /*------------------------- Back to top button  --------------------------*/

    #gotop {
        position: fixed;
        height: 50px;
        width: 110px;
        bottom: 60px;
        margin: 0 0 0 500px;
        left: 82%;
        
    }


    #back-top {
      position:fixed;
      _position: absolute; /* position fixed for IE6 */
      top:700px;
      _top: 0px;
      left: 50%;
      margin: 0 0 0 500px;
    }
    #back-top a {
        width: 30px;
        display: block;
        text-align: center;
        font: 11px/100% Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        color: #ecb20c;
        /* background color transition */
        -webkit-transition: 1s;
        -moz-transition: 1s;
        transition: 1s;
        cursor: pointer;
    }
    #back-top a:hover {
        color: ##F60;
    }
    /* arrow icon (span tag) */
    #back-top span {
        width: 50px;
        height: 50px;
        display: block;
        margin-bottom: 5px;
        background: #ecb20c  url(../images/up-arrow.png) no-repeat center center;
        /* rounded corners */
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        /* background color transition */
        -webkit-transition: 1s;
        -moz-transition: 1s;
        transition: 1s;
    }
    #back-top a:hover span {
        background-color: #F60;
    }

    /* ======== */
    .box {
          width: 100%;
          height: 75vh;
          background-size: cover;
          background-position: center center;
          background-attachment: fixed;
          text-align: center;
          /* font-size: 30px; */
          color: #222;
          font-family: Arial, Helvetica,Microsoft JhengHei;
    
      }
      .box1{ 
          position: static;
          height: 600px;
          background-image: url("../image/banner_pc.png");
          background-size: cover; 
          background-attachment:scroll;
          background-repeat: no-repeat;
          background-position: center bottom;
       }
             @media only screen and (max-width: 1023px){
              .box1{
                height: 550px;
                /* background-image: url("../image/banner_tb.png") */
              }
            }
            @media only screen and (max-width: 767px){
              .box1{
                /* background-size: auto;  */
                height: 500px;
                background-attachment:scroll;
                background-image: url("../image/banner_mobile.png")
              }
            }


      .box2{ 
             /* background-color: #00cbcd; */
             height: 100%;
             padding-bottom: 75px;
             padding-top: 50px;
             background-image: url("../image/box2.jpg");
             background-size: cover; 
             background-attachment:fixed;
             background-repeat: no-repeat;
             background-position: center top;

             -webkit-box-shadow: inset 0 0 47px 9px rgba(0,0,0,0.54);
             -moz-box-shadow: inset 0 0 47px 9px rgba(0,0,0,0.54);
             box-shadow: inset 0 0 47px 9px rgba(0,0,0,0.54);
              }

      .box3{ 
             /* background: #00cbcd; */
             background-image: url("../image/box3.jpg");
             height: 100%;
             padding-bottom: 50px;
             padding-top: 50px;
             /* background-size: cover;  */
             background-attachment:inherit;
             background-repeat: no-repeat;
             background-position: center bottom
              }
      .box4{ 
             
             height: 100%;
             background-image: url("../image/box4.png");
             background-size: cover; 
             background-attachment:inherit;
             background-repeat: no-repeat;
             background-position: center bottom;

             -webkit-box-shadow: inset 0 9px 9px rgba(0,0,0,0.54);
             -moz-box-shadow: inset 0 9px 9px rgba(0,0,0,0.54);
             box-shadow: inset 0 9px 9px rgba(0,0,0,0.54);

              }
      .box5{ 
             height: 100%;
             background-image: url("../image/box5.jpg");
             background-size: cover; 
             background-attachment:inherit;
             background-repeat: no-repeat;
             background-position: center top;
             
           }

      .box6{ 
             height: 100%;
             background-image: url("../image/box6.jpg");
             background-size: cover; 
             /* background-attachment:inherit; */
             background-repeat: no-repeat;
             background-position: center bottom
           }

      .box7{ 
             height: 100%;
             background: #10335f;
             
           }
    



    /* banner */
    .titlebanner{
        width: 100%;
        /* height: 400px; */
        text-align: center;
        /* box-shadow: 0px 1px 3px #666; */
        
      }
      .bannerimg{
        /* max-height: 400px; */

      }

      /* 不同尺寸banner轉換 */
      .imgpc{
        display:inline;
      }
      .imgtb{
        display:none;
      }
      .imgmobile{
        display:none;
      }
        @media only screen and (min-width: 1241px){
          .imgpc{
          display:inline;
          }
          .imgtb{
            display:none;
          }
          .imgmobile{
            display:none;
          }
        }
        @media only screen and (max-width: 992px){
          .imgpc{
          display:none;
          }
          .imgtb{
            display:inline;
          }
          .imgmobile{
            display:none;
          }
        }
        @media only screen and (max-width: 767px){
          .imgpc{
          display:none;
          }
          .imgtb{
            display:none;
          }
          .imgmobile{
            display:inline;
          }
        }
        /* END */

        .bannerbg{
            height: 300px;
            background: #fff url(image/banner_pc.png) top center fixed no-repeat;
            /* -moz-background-size: cover;
            background-size: cover; */
        }
        @media only screen and (max-width: 767px){
            .bannerbg{
                background: #fff url(image/banner_mobile.png) top center fixed no-repeat;
            }

        }


        .bannerbg1{
            height: 300px;
            background: #fff url(image/banner_pc1.png) top center fixed no-repeat;
            /* -moz-background-size: cover;
            background-size: cover; */
        }
        @media only screen and (max-width: 767px){
            .bannerbg1{
                background: #fff url(image/banner_mobile1.png) top center fixed no-repeat;
            }

        }

        .bannerbg2{
            height: 300px;
            background: #fff url(image/banner_pc2.png) top center fixed no-repeat;
            /* -moz-background-size: cover;
            background-size: cover; */
        }
        @media only screen and (max-width: 767px){
            .bannerbg2{
                background: #fff url(image/banner_mobile2.png) top center fixed no-repeat;
            }

        }

/* 列表 */

.newtitle{
  font-size:22px;
  color:#fff;
  font-weight: bold;
  /* margin: 0px; */
  padding:10px;
  line-height: 24px;
  /* font-family: Arial, Helvetica, sans-serif; */
  text-decoration: none;
  background-color: #e61673;
  text-align: center;
  display: block;

  }
.newtxt{
  font-size:13px;
  line-height: 28px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  
  }
.newimp{
  color:#C03;
  }
  
.table>tbody>tr>td{
  border:1px solid #ddd;
  /* background: #fff; */
  vertical-align: middle;
  }
.tblist{
  border:0px solid #ddd;
  color:#fff;
  text-decoration: none;
  vertical-align: middle;
  text-align:center;
  }
.tblist a:link{
  border: 0;
  text-decoration: none;
  color: #fff;
  padding:5px;
  }
.tblist a:visited{
  border: 0;
  text-decoration: none;
  color: #fff;
  }
.tblist a:hover{
  border: 0;
  text-decoration: none;
  color: #FFF;
  background-color:#253f7b;
  }
  
  
.tbproname{
  border:0px solid #ddd;
  color:#06C;
  text-decoration: none;
  border:0px;
  border-bottom:1px solid #333;
  font-family:Verdana, Geneva, sans-serif;
  /* text-align:center; */
  font-size: 16px;
  }
  .tbproname a:link{
    color:#06C;
    font-size: 16px;
    }
  .tbproname a:visited{
    color:#06C;
    font-size: 16px;
    }
  .tbproname a:hover{
    color:#a01e22;
    font-size: 16px;
    }
    
  
.tbproprice{
  color:#ff4400;
  text-align:right;
  font-size: 20px;
  }
  .proimg{
   border-radius: 5px 5px 0px 0px;
  }
.trline{
  border-bottom:1px dotted #C0C0C0;
  cursor: pointer;
  background: #fff;
  }
  .airlogo{
        text-align: left;
        display: inline;
        padding-right: 5px;
      }
  
 .table-hover>tbody>tr:hover{
    background-color:#ffed00;
    /* color: #fff; */
  }
  th {
    text-align: center;
  }




/* ========================================================================================= */
      .explainleft{
        padding: 23px 25px 15px 15px;
        

      }
      @media only screen and (max-width: 700px){
         .explainleft{
          padding: 5px;
         }

      }
      .explainright{
        padding: 20px 20px 15px 60px;
        border-left: 1px #ddd solid;

      }
       @media only screen and (max-width: 700px){
        .explainright{
          padding: 2px;
          border: 0px;
        }

       }
      
      .circletxt{
        border: 1px #3498db solid;
        padding: 2px 10px;
        border-radius: 20px;
        color: #3498db;
        font-size: 20px;
        font-weight: bold;
      }
      .steptxt{
        border: 1px #3498db solid;
        padding: 2px 10px;
        border-radius: 20px;
        background-color: #3498db;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
      }
      .page-more ,.page-more a {
        text-align: center; 
        padding: 8px 0px; 
        background-color: #1a5896; 
        margin-top: 25px;
        color: #fff;
        border: 2px #1a5896 solid;

      }
      .page-more:hover ,.page-more a:hover {
        text-align: center; 
        padding: 8px 0px; 
        font-weight: bold;
        margin-top: 25px;
        color: #1a5896;
        background-color: #fff; 
        border: 2px #1a5896 solid;

      }

      .productname:hover ,.dollartxt:hover{
        /* color: #000; */
      }
      .productname ,.dollartxt{
        color: #3C2531;
        /* font-size: 14px; */
      }
      .productPrice{
        color: #ff6600;
        font-size: 32px;
      }
      .productPrice:hover{
            /* color: #ff6600; */
            text-decoration:none;
       }

       .tableproductPrice{
        color: #ff6600;
        font-size: 18px;
      }
      .tableproductPrice:hover{
            /* color: #ff6600; */
            text-decoration:none;
       }

      .titlecolor{
        color: #035478;
      }
      .concolor{
        color: #40210f;
      }
      
     

      blockquote {
          padding: 1px 5px 8px;
          margin: 20px 0 40px;
          /* font-size: 17.5px; */
          border-left: 0px solid #eee;
          color: #fff;
          background: #ffed00;
      }



      .qaicon {
        height: 20px;
        display: inline;
        padding-right: 10px;
        margin-bottom: 8px;
      }
      .qaans {
        font-size: 14px;
      }
      .panel-group .panel-heading+.panel-collapse>.panel-body{
        border-top: 0px;
      }
      .panel-default>.panel-heading{
        background-color: #fff;

      }
      .panel-default{
        border: 0px;
        border-bottom: 1px dashed #aaa;
      }
      
      .airlintxt{
        background: #0a0;

        /* 陰影 */
        -webkit-box-shadow: 1px 2px 8px 1px rgba(0,0,0,0.44);
        -moz-box-shadow: 1px 2px 8px 1px rgba(0,0,0,0.44);
        box-shadow: 1px 2px 8px 1px rgba(0,0,0,0.44);

        width: 100%;
        font-size: 18px;
        color: #fff;
        padding: 10px 5px 1px 5px;
        border-radius: 10px 10px 0px 0px;
        margin-bottom: 20px;

      }

      .blockborder{
        border: 1px solid #ddd;
        padding: 0px 0px 5px 0px;
        margin: 10px 0px;
        border-radius: 10px;
        background-color: #fff;
        height: 320px;
        /* -webkit-box-shadow: 1px 2px 8px 1px rgba(0,0,0,0.44);
        -moz-box-shadow: 1px 2px 8px 1px rgba(0,0,0,0.44);
        box-shadow: 1px 2px 8px 1px rgba(0,0,0,0.44); */
      }


      .proticket {
        padding: 15px;
      }
      .hotmarquee{

        width:100%;
        /* height:40px; */
        vertical-align: middle;
        border-bottom: 1px solid #e6e6e6;
        border-top: 1px solid #e6e6e6;
        margin-top: 25px;
      }
      .marqueetxt ,.marqueetxt a{
        /* padding: 0px 28px; */
        color: #f60;
        line-height: 34px;
        font-size: 15px;
      }

        /* ========<!-- 會動區塊 -->====== */
        .ann , .ann a{
          overflow:hidden;
          height:40px;
          padding: 0px 12px;
          color: #f60;
          font-size: 15px;
          text-align: center;
          width: 100%;
        }

        @media only screen and (max-width: 700px){
        .ann , .ann a{
          display: inline;
          overflow: initial;
        }

       }


        .annblonk{
          width: 100%;
          overflow:hidden;
          height: 40px;
          margin-top: 20px;
          border-bottom: 1px solid #e6e6e6;
          border-top: 1px solid #e6e6e6;
          padding: 8px 0px 0px 0px;
        }
        @media only screen and (max-width: 700px){
        .annblonk{
          height: 95px;
          padding: 5px 0px 5px 0px;
        }
      }

      /* ======================= */
      .moretxt{
        color: #060;
        font-size: 18px;
        height: 18px;
        line-height: 18px;
      }

      .airstudent{
        height: 240px;
      }
      @media only screen and (max-width: 700px){
          .airstudent{
          height: 1000px;
        }
      }
      .airtxt{
        margin-top: -33px;
        color: #fff;
        padding-left: 30px;
      }
      .airblock{
        margin-top: 25px;
      }
      .btnclose{
        margin-top: 25px;
      }
      .txtshadow{
        text-shadow: 2px 2px 2px #555;
      }
      .notefooter{
        border-top: 1px solid #e5e5e5;
        padding-top: 15px;
      }
      .vacationfooter{
        border-top: 0px solid #e5e5e5;
      }
      .airlinheight{
        height: 580px;
      }
      @media only screen and (max-width: 970px){
        .airlinheight{
        height: 100%;
      }
      }
      .balltxt{
        background-color: #009e96;
        color: #fff;
        border-radius: 50%;
        padding: 8px;
        line-height: 60px;
      }
      
      .contxt{
        /* padding: 15px; */
        /* padding: 5px; */
        line-height: 32px;
        color: #999;
      }
      .specimg{
        padding: 12px;
        border-radius: 15px;
        border: 1px solid #ddd;
        background-color: #fff;
        box-shadow: 1px 4px 10px 0px rgba(0, 0, 0, 0.3);
      }
      .peopletxt{
        color:#ff6600;
        font-weight: bold;
      }

      .picspecthx{
        display: inline;
        max-height: 30px;
        padding: 5px;
      }
      .spcblock{
        height: 160px;
      }
       @media only screen and (max-width: 970px){
            .spcblock{
            height: 400px;
          } 
       }
       @media only screen and (max-width: 700px){
            .spcblock{
            height: 370px;
          } 
       }
       .dollarblock{
        position: absolute;
        bottom: 0px;
        right: 15px;
       }
       
       .narrativetxt{
        position: relative;
        color: #777;
        line-height: 25px;
        height: 40px;
       }
       @media only screen and (max-width: 700px){
            .narrativetxt{
            position: relative;
            line-height: 20px;
            height: 70px;
           }
       }
       .picview{
        margin-top: -1px;
        box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
        border-radius: 15px;
       }
       
       .qrcodeicon2{
        display:none;
       }

       @media only screen and (max-width: 970px){
            .qrcodeicon{
            display:none;
           }
           .qrcodeicon2{
            display:block;
           }
       }
       .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
            color: #fff;
            /* background-color: #009ce5; */
            background-color: #C00D23;

        }
        .nav-justified>li>a {
            margin-bottom: 0px;
            text-align: center;
        }



        /* =================================== */
        .spedproductPrice {
          color: #888;
          font-size: 14px;
          font-weight: 100;
        }

        .bs-callout{
          padding: 0px 15px 5px 15px;
          margin: 15px 0;
          border: 0px solid #eee;
          border-left-width: 0px;
          border-radius: 3px;
        }
        .bs-callout-info{
          border-top:5px solid #006934;
          background:rgba(245, 245, 245,0.6);
        }


        .dollarblock {
            position: absolute;
            bottom: 18px;
            right: 25px;
        }


        .list-group {
            padding-left: 0;
            margin-bottom: 0px;
        }



        /* 訂房景點那區塊 */
        .viewpointblock {
          display: inline-block;
          overflow : hidden;
          text-overflow : ellipsis;
          word-break: break-all;
          white-space:normal; 
          height: 300px;
          width: 100%;
          padding: 10px;
          margin-bottom: 5px;

        }
        .hotelblock{
          width: 100%;
          padding: 10px 10px 0px 10px;
          margin-bottom: 15px;
        }



        /* 全球當地遊 title */
        .globaltitle{
          color: #c9114c;
          border-bottom: 0px solid #ddd;

        }

        .globalblock{
          padding: 0px;

        }
        .globalplace{
          padding: 5px 10px ;

        }


        /*各波促銷轉跳*/
        .spectxt{
          color:#999;
          background-color: rgba(255,255,255,0.5);
          padding:10px 25px;
          border-radius: 25px;
        }
        .spectxt:hover{
          background-color: rgba(255,255,255,1);
        }
